<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
            // 更新总引用数
            var totalCitation = data['citedby']
            if (document.getElementById('total_cit')) {
                document.getElementById('total_cit').innerHTML = totalCitation;
            }
            
            // 更新 h-index (支持多种字段名格式和位置)
            var hIndex = data['hindex'] || data['h_index'] || 
                        (data['indices'] && (data['indices']['hindex'] || data['indices']['h_index']));
            if (hIndex && document.getElementById('h_index')) {
                document.getElementById('h_index').innerHTML = hIndex;
            }
            
            // 更新 i10-index (支持多种字段名格式和位置)
            var i10Index = data['i10index'] || data['i10_index'] || 
                          (data['indices'] && (data['indices']['i10index'] || data['indices']['i10_index']));
            if (i10Index && document.getElementById('i10_index')) {
                document.getElementById('i10_index').innerHTML = i10Index;
            }
            
            // 更新每篇论文的引用数
            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                if (data['publications'] && data['publications'][paperId]) {
                    var numCitations = data['publications'][paperId]['num_citations']
                    element.innerHTML = '| Citations: ' + numCitations;
                }
            });
        }).fail(function(jqxhr, textStatus, error) {
            console.log("Failed to load Google Scholar data: " + textStatus + ", " + error);
        });
    })
</script>